<div id="words">
  <h2>Her er dine ord</h2>
  <% for word in @words.sort_by { rand } %>
  <span class="word">
    <%= word %>
  </span>
  <% end %>
</div>

<div id="drop">

</div>

<a href="#" id="playall">Afspil alle</a>
